.item {
    /* border: 1px solid #e59244; */
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    background-color:#fff7ea;
    box-shadow: 5px 10px #e8d9c2;
    
}

.item h2 {
    color: rgb(159, 20, 20);
    float: right;
    padding: 10px;
    margin: 0;
    padding-right: 20px;
}

.item h1, .item h2 {
    display: inline;
}

.item .description {
    font-size: 20px;

}